*{
  /*getting rid of the default margin*/
  margin: 0;
}
.App{
  background-color: #F6F8FA;
  height: 100vh;
}
.App_header{
 
  background-color: white;
   padding: 20px;
   border-bottom: 1px solid lightgray;
   object-fit: contain;

}
.App_headerImage{
  height: 50px;
  width:auto;
}